<h1 class="title is-1">All Menu Items</h1>

<ul>
  <% @items.sort! { |a, b|  a.name <=> b.name }.each do |item| %>
  <li>
    <%= link_to item.name, menu_item_path(item) %> <%= is_popular?(item) %> - <%= link_to "Edit", edit_menu_item_path(item) %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Create a New Menu Item", new_menu_item_path %></p>
