<h1 class="title is-1">Edit Order #<%= @order.id %> for <%= @order.name_for_pickup %></h1>

<%= render partial: 'layouts/errors', locals: {object: @order} %>

<%= render partial: 'form', locals: {button_text: "Edit Order"} %>
