<h1>All Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to order.name_for_pickup, order_path(order) %>
    </li>
  <% end %>
</ul>

<%= link_to "View All Completed Orders", orders_completed_path %>
<%= link_to "Create a New Order", new_user_order_path(current_user) %>
