<h1 class="title is-1">Order #<%= @order.id %></h1>

<%= render 'orders/order_details' %>

<%= link_to "Back To All Orders", orders_path %>
<%= link_to "Create a New Order", new_user_order_path(current_user) %>
