<h1>Welcome to Central Perk</h1>

<h2>Items</h2>
<%= link_to "Add an Item to the Menu", new_menu_item_path %>

<h2>Orders</h2>

<p><%= link_to "Sign Up", signup_path %></p>
<p><%= link_to "Log In", login_path %></p>
