<% if object.errors.any? %>
  <article class="message is-danger">
    <div class="message-body">
      <strong><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</strong>
      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </article>
<% end %>
