<footer class="footer">
  <div class="content has-text-centered">
    <a href="https://github.com/scrabill/central-perk">View on Github</a> | <a href="https://shannoncrabill.com/blog/ruby-on-rails-debugging-model-associations/">Process</a>
  </div>
</footer>
